<!doctype html>
<html ng-app="app">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>angular-form-builder</title>
    <link type="text/css" rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="example/site.css"/>
    <link type="text/css" rel="stylesheet" href="dist/angular-form-builder.css"/>
    <link type="text/css" rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="node_modules/icheck/skins/square/square.css">
    <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="dist/angular-form-builder.js"></script>
    <script type="text/javascript" src="dist/angular-form-builder-components.js"></script>
    <script type="text/javascript" src="node_modules/angular-validator/dist/angular-validator.js"></script>
    <script type="text/javascript" src="node_modules/angular-validator/dist/angular-validator-rules.js"></script>
    <script type="text/javascript" src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src='node_modules/ng-mask/dist/ngMask.min.js'></script>
    <script type="text/javascript" src='node_modules/angular-canvas-painter/dist/angular-canvas-painter.js'></script>
    <script type="text/javascript" src="node_modules/icheck/icheck.js"></script>
    <script type="text/javascript" src="node_modules/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="node_modules/angular-ckeditor/angular-ckeditor.js"></script>
    <script type="text/javascript" src="node_modules/string-mask/src/string-mask.js"></script>
    <script src="node_modules/lodash/lodash.js"></script>
    <script src="node_modules/moment/moment.js"></script>
    <script src="node_modules/ng-file-upload/dist/ng-file-upload-all.min.js"></script>
    <script type="text/javascript" src="example/demo.js"></script>
</head>
<body class="container" ng-controller="DemoController">
<div class="row">
    <h1>angular-form-builder</h1>
    <hr/>

    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Builder</h3>
            </div>
            <div fb-builder="default"></div>
            <div class="panel-footer">
                <div class="checkbox">
                    <label><input type="checkbox" ng-model="isShowScope" />
                        Show scope
                    </label>
                </div>
                <pre ng-if="isShowScope">{{form}}</pre>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div fb-components></div>
    </div>
</div>

<div class="row">
    <h2>Form</h2>
    <hr/>
    <form class="form-horizontal" name="myForm">
        <div ng-model="input" fb-form="default" fb-default="defaultValue"></div>
        <div class="form-group">
            <div class="col-md-8 col-md-offset-4">
                <input type="submit" ng-click="submit()" class="btn btn-default"/>
            </div>
        </div>
    </form>
    <div class="checkbox">
        <label><input type="checkbox" ng-model="isShowScope" ng-init="isShowScope=true" />
            Show scope
        </label>
    </div>
    <pre ng-if="isShowScope">{{input}}</pre>
</div>

<div class="row">
    <div class="col-md-12 footer"></div>
</div>

<div>
    <div fb-form-viewer="testForm" ng-model="testInput"></div>
    <pre ng-if="isShowScope">{{testForm}}</pre>
    <pre ng-if="isShowScope">{{testInput}}</pre>
</div>

<input type='button' ng-click="testLoad()" class='btn btn-white h-c-34 pull-left m-b' value='Load'/>
<input type='button' ng-click="testData()" class='btn btn-white h-c-34 pull-left m-b' value='Data'/>
<input type='button' ng-click="clearData()" class='btn btn-white h-c-34 pull-left m-b' value='Clear'/>
<input type='button' ng-click="loadViewer()" class='btn btn-white h-c-34 pull-left m-b' value='Load Viewer'/>

</body>
</html>
